/***
Portfolio
***/
/*Portfolio Filter*/
.mix-filter {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mix-filter li {
  background: #eee none repeat scroll 0 0;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 0;
  margin-right: 2px;
  padding: 2px 8px;
}

.mix-filter li:hover,
.mix-filter li.active {
  color: #fff;
  background: #0da3e2;
}

.mix-grid .mix {
  display: none;
}

/*Portfolio Hover*/
.mix-grid .mix {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.mix-grid .mix .mix-inner {
  position: relative;
  width: 100%;
}

#mixgrid h4 {
	margin-top: 0;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) {
  .mix-grid .mix.col-md-6.col-sm-6 .mix-details {
    height: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mix-grid .mix a.mix-link,
  .mix-grid .mix a.mix-preview {
    margin-top: 5px;
  }
}
