<h4>Hola <?= $user ?>!</h4>

<p>Ha habido cambios en una incidencia, para verla ingresa aquí: </p>
	<p><a href="http://warroomv2.war-roomdigital.com/crises/view/<?= $id ?>">"<?= $crisis ?>"</a></p>
<p>Atte. War Room Digital.</p>