<h4>Hola <?= $user ?>!</h4>

<p>Han editado una entrada en "Trainings Y Materiales", para verla ingresa aquí: </p>
	<p><a href="http://warroomv2.war-roomdigital.com/articles/view/<?= $id ?>">"<?= $articulo ?>"</a></p>
<p>Atte. War Room Digital.</p>