<h4>Hola <?= $name ?>!</h4>

<p>Para poder recuperar tu contraseña, ingresa al siguiente  
	<a href="http://warroomv2.war-roomdigital.com/users/change/?user=<?= $id ?>&token=<?= $token ?>">link</a></p>

<p>Atte. Equipo War-Room Digital.</p>